[2017-02-23 01:09] rockwood opened #1 "Unable to connect to iex session"
Hi!

I'm trying to get erlangpl running, but I'm not able to connect to a local node. I could be doing something stupid. Thanks for the help!

[code]

[code]

[2017-02-23 01:49] rockwood commented on #1
I figured it out. I had to use the full node name when starting iex:

[code]

[2017-02-23 01:49] #1 closed, assigned to nobody

[2017-02-23 05:28] michalslaski commented on #1
@rockwood I'm glad you figured it out. Thank you for opening an issue for this. It made me think we need more examples added to the README. Would you be so kind and contribute a paragraph on how to start iex and make it work with erlangpl?

[2017-02-23 06:06] rockwood commented on #1
Ok, [PR is ready](https://github.com/erlanglab/erlangpl/pull/2)

I was really impressed with your demo showing messages flowing between nodes. Is that going to be integrated into erlangpl?

[2017-02-23 06:11] michalslaski commented on #1
First contributor, many thanks!

The demo you saw is a working proof of concept and we are working on merging it with erlangpl. I hope to finish merging before giving this talk http://www.erlang-factory.com/sfbay2017/michal-slaski.html

[2017-02-23 06:14] rockwood commented on #1
Great, I'll stay tuned. I Love the tool so far!

[2017-03-01 15:36] mentels opened #6 "Failure after connecting to an Elixir node"
[code]

[2017-03-01 15:46] michalslaski commented on #6
Already fixed in erlanglab/epl_3d#1, please pull the latest deps and rebuild.

[2017-03-01 16:30] mentels commented on #6
The `epl_3d` version in the apps/epl/rebar.config has to be bumped appropriately.

[2017-03-01 16:31] mentels opened #7 "Through calculation seem to be wrong"
Either I'm not getting or the message throughput is calculated/presented incorrectly. Look at the screenshots: the number says it ~200 while the graph show ~100.
<img width="921" alt="screen shot 2017-03-01 at 17 28 45" src="https://cloud.githubusercontent.com/assets/748608/23469780/e3e8a2dc-fea4-11e6-80f8-7d2cdaf76eb6.png">
<img width="911" alt="screen shot 2017-03-01 at 17 28 50" src="https://cl

[2017-03-01 16:32] mentels opened #8 "The memory in bytes is not readable"
I the system consumes considerable amount of memory representing it in bytes is not handy.

[2017-03-01 16:36] michalslaski commented on #6
Thanks, fixed.

[2017-03-01 16:36] #6 closed, assigned to nobody

[2017-03-01 16:41] michalslaski commented on #7
Thanks for reporting. The chart is a fake at the moment. It was added to dashboard just to give an idea of possible layout of this view. A new UI is being implemented in https://github.com/erlanglab/erlangpl-ui, where charts are real.

Please feel free to send a PR, if you would like the charts to be fixed in the old UI.

[2017-03-01 16:41] #7 closed, assigned to nobody

[2017-03-01 21:07] baransu commented on #8
Thank you for your feedback. We're working on new ui [(erlangpl-ui)](https://github.com/erlanglab/erlangpl-ui) so we will address this issue :)

[2017-03-01 22:01] #8 closed, assigned to nobody

[2017-03-04 20:18] baransu opened #10 "Integrating new UI"
I'm doing research on adding `erlangpl-ui` as a new frontend. Only thing I need from backend is serving static folder at `localhost:8000` as it is right now.
I'll add `erlangpl-ui` as subrepo which will be fetched during build process and included in place of current UI.

Only thing I have problem understanding is how `erl_3d` is included in current frontend because plugin provides frontend as wel

[2017-03-04 20:51] arkgil commented on #10
I'm glad you raised this issue, because I have questions regarding plugin system with new UI.

To answer your question (with a bit of simplification), whenever plugin is loaded (each plugin is OTP application), all the files from its `priv/htdocs` directory are served at the path matching plugin's name. For example, `epl_3d` has `priv/htdocs/index.html` file, when we start erlangpl, this file will

[2017-03-04 21:08] baransu commented on #10
Yes and no. We can compose UI from smaller plugins but it have to be on the client side where plugin is added.

I can wrap existing code into React and use it that way. It's similar how `vizceral-react` works. We can provide any plugin we'd like to add in the future with it's React or Elm component which can be easily integrated with `erlangpl-ui`, but I'm not sure if we should keep server/client

[2017-03-04 21:27] arkgil commented on #10
I think that these are very valid concerns. I'd really love to figure out complete plugin system, such as anybody could just provide a path to their plugin in a filesystem, both frontend and backend would be loaded and work beautifully. However it would probably take us a lot of time 😄

I think that at this point (given the amount of time we have) a reasonable solution would be:
* as you said, sep

[2017-03-04 21:52] baransu commented on #10
Right now `erlangpl-ui` has one state which contains all data. Every component can opt-in for state change and relevant view update will happen. This solution force us to provide new state "extension" with every new plugin with it's own WebSocket connection and state changes.

The only problem I can imagine is case when one plugin require data from other plugin. But yes, we can specify that this p

[2017-03-04 22:02] arkgil commented on #10
Vizceral view will show message passing between nodes/processes. `epl_sup_tree` is only for displaying supervision trees (similarly to what Erlang's observer does). So it is completely unrelated to Vizceral view.

I think that our current approach with subscriptions to state changes is fine. In addition I have added a `epl:command/2` API, which can be used to call any function on remote node. Ther

[2017-03-04 22:05] arkgil commented on #10
I'm currently experimenting with different library for rendering supervision trees, so I'll try to implement that in `erlangpl-ui` straight away.

[2017-03-04 22:06] baransu commented on #10
What lib are you using?

[2017-03-04 22:08] arkgil commented on #10
[sigma.js](http://sigmajs.org/) looks promising, although I have problems with embedding it into simple div, not to mention React (I really can't do frontend 😄 ). I chose that lib because for me 2d rendering of supervision trees is more readable than 3d.

[2017-03-04 22:10] baransu commented on #10
Are you experimenting on current `erlangpl-ui` or new project only to test this lib?

[2017-03-04 22:17] arkgil commented on #10
First I used slightly modified `epl_3d` UI for `epl_sup_tree`, so trees were rendered in 3d. Then I tried to use sigma for rendering, but I couldn't make it display anything, so now I try with simple static pages and try to get to know their API. I haven't tried `erlangpl-ui` yet, although I think I've understood enough to create a simple component and embed it into current view.

[2017-03-04 22:39] baransu commented on #10
Ok, if you have any problems let me know.

I'll focus on making `erlangpl-ui` pluggable then.

[2017-03-04 23:26] arkgil commented on #10
@Baransu do you have any ideas on working with multiple socket connections on the frontend?

[2017-03-04 23:30] baransu commented on #10
I think we can easily create new WebSocket connection for every plugin route and it should just work. It even should work the same with multiple connections to the same route.

[2017-03-05 17:06] baransu commented on #10
@arkgil How things going with `vizceral-message-passing-thingy` since this is key part of whole project.

PoC has code written by Jakub by Michal wasn't sure about merging it into project.
If you could focus on Erlang code for that I'll work more on vizceral frontend as well as `epl-sub-tree`'s fontend since I have no idea about Erlang.

[2017-03-06 04:49] michalslaski commented on #10
@Baransu I'm now focusing on adding support for traffic view. First level should use information from Erlang's net_kernel to visualize traffic volumes between nodes. Second level should use information from Erlang tracer to visualize traffic volumes between processes. Third level should use information from the process_info/2 BIF to present state of the process.

[2017-03-06 05:10] michalslaski commented on #10
@arkgil I did some research on 2D visualizations of graphs/trees and would like to suggest to try the JavaScript library by Andrei Kashcha https://github.com/anvaka/VivaGraphJS

I'm not sure if it fits your supervision tree view, but if you have issues with sigma.js, maybe it will turn out as an alternative.

[2017-03-06 08:17] arkgil commented on #10
It looks really nice, similarly to sigma it offers a lot of customisation. I'll try it out, thanks!

[2017-03-06 19:15] baransu opened #11 "Make erlangpl more fault tolerant"
Right now we're connecting to existing node on startup as cli arguments. Is there possibility to move this process as a WebSocket response? It would be nice to start `erlangpl` as normal, go to browser and then select node. We can move current startup to special flag for example.
This idea comes from experiments with monitoring my poorly written Elixir app. When app crashes, or we cannot connect t

[2017-03-06 19:27] arkgil commented on #11
I haven't looked at the node connection code in depth, but I suppose that it would be possible. I think we could even list local nodes by querying `epmd` (although Michał would have to confirm that).

Anyway, I think that idea is awesome! Would it be possible to create list of favourites and persist it through multiple sessions (e.g. I open erlangpl one day, and the node is still in favourites on

[2017-03-06 19:35] baransu commented on #11
So maybe we could try to manage time as best as we can? I'll focus on JS part and you'll focus on Erlang part. With both startup experience and `epl-sup-tree`. I only need WebSockets API exposed for every new feature and I'll take care of all JS.

For persistence we have `localStorage` which is persistent as long as you keep your browser data I think, but it's perfect solution for that.

EDIT: Onl

[2017-03-06 22:07] arkgil opened #12 "Thoughts and problems with connecting to nodes after erlangpl starts"
As followup to #11, couple of things which in my opinion need to be considered:
1. `epl_tracer` process needs to trap exits, to handle exit messages from remote tracer process (there is no `spawn_monitor/4` API 😢 )
2. node name cannot be put into `epl`'s config ETS table at startup, but rather be a part of `epl_tracer`'s state and retrieved by calling this process
3. when `epl_tracer` sees that re

[2017-03-07 08:57] arkgil commented on #12
@michalslaski I'll probably need some help with those if we are to develop this feature.

[2017-03-09 07:57] arkgil opened #13 "Include epl_st as a dependency"
In place of `epl_3d` we should put `epl_st` as a dependency and start it as default plugin.

[2017-03-09 13:46] michalslaski commented on #13
Fixed in https://github.com/erlanglab/erlangpl/commit/4f5d25e041559150e6504bebdb68b7829eb60133

[2017-03-09 13:46] #13 closed, assigned to michalslaski

[2017-03-09 14:42] michalslaski commented on #12
@arkgil
1. Let's try to use one of the supervisor's strategies for handling abnormal exits from remote tracer process. Currently the epl_sup supervisor has ['permanent'](https://github.com/erlanglab/erlangpl/blob/master/apps/epl/src/epl_sup.erl#L19) children. If we change it to the 'transient' restart strategy and then handle restart in epl_tracer:init/1, I think we should be good.
2. erlangpl scr

[2017-03-09 16:45] baransu commented on #10
After https://github.com/erlanglab/erlangpl-ui/pull/16 PR we should cut UI 0.1 and `erlangpl`  0.4. Not exacly after this PR but it should be last feature for that release. It will be solid replacement for current UI and we'll cover core functionality. If you have any issues you want to include please add them to 0.4 milestone.

/ cc @michalslaski @arkgil

[2017-03-12 10:25] #10 closed, assigned to nobody

[2017-03-12 10:56] baransu opened #15 "Update erlangpl-ui submodule to 0.1 when released"

[2017-03-12 20:40] #15 closed, assigned to nobody

[2017-03-21 16:24] baransu opened #19 "Better erlangpl-ui provide method"
Followup to: https://github.com/erlanglab/erlangpl/pull/18#issuecomment-288118042

Right now we have `erlangui-ui` submodule. It's not idea and we can do better.
Because UI is not a part of `erlangpl` codebase we should treat it as build dependency and create some kind of script to check UI version and update it automatically.

[2017-03-31 21:12] arkgil opened #22 "Elixir integration, escripts, and build tools madness"
So I really wanted to make it possible to write plugins in Elixir - I hoped this way we could encourage community to get involved and try to extend EPL.

I thought to myself: `"Ha! Since Mix can build Erlang projects, that's gonna be piece of cake. I'll just add umbrella mix.exs, and EPL's own mix.exs and everything should work like a charm"`.

It did and it compiled. Mix could even share dependen

[2017-03-31 21:21] baransu commented on #22
Great issue description 😄

I really hope for Elixir plugins because I know something about Elixir and I wrote very simple things in it. It's easier for me. And I know almost none about Erlang 😕

Another thing, somehow related to this issue is `erlangpl-ui` include method. Right now we're using git submodules but maybe there is better way for doing that.

[2017-04-01 05:11] michalslaski commented on #22
I very much like the idea of documenting the whole thinking process accompanying issue creation. It gives more context to the problem you are trying to address and therefore it gives others an opportunity to contribute with more meaningful feedback.

I think we can assume several things and maybe it will make your work easier:
1. Erlang and Elixir are installed on the machine from which one runs t

[2017-04-01 07:00] baransu opened #24 "Update traffic data format"
https://github.com/Netflix/vizceral/pull/59 got merged into Vizceral recently. It adds `entryNode` property and removes requirement for `INTERNET` node. It also allows two way message passing in our cluster view.

Things we have to change to update to version `4.4.0`:

* change `focused` -> `focusedChild`
* for every graph add `entryNode` property describing graph entry node
* replace one, one way

[2017-04-01 07:44] arkgil commented on #22
I don't think there would be a problem with creating Elixir plugins. The only issue I saw was including  Elixir runtime in `erlangpl` escript, so that anyone can download it and get started quickly with their own plugin.

What is everyone's opinion on including Elixir as a part of our standard distribution? This could be done by providing path to local Elixir installation when running `bootstrap`

[2017-04-01 09:22] cloud8421 commented on #22
I was actually thinking about trying to move the project to rebar3 for a similar reason (make it easier for people to contribute). I wonder if that would make the Elixir integration easier.

That said, I think @arkgil is right with the approach.

[2017-04-01 21:46] arkgil commented on #22
I've sent PR, please review! 🙂

[2017-04-02 14:11] arkgil commented on #24
It is related into traffic view, right? I'll look into it as soon as I'm finished with Elixir stuff 🙂

Does this update mean that there won't be INTERNET node, and we will have bi-directional particles flow?

[2017-04-02 14:18] baransu commented on #24
Correct :)

[2017-04-02 17:06] michalslaski commented on #24
Very cool.

BTW, in one of the Vizceral examples I saw force directed graph layout demo. Can we give it a try in the second level, where we render message passing?

[2017-04-02 17:07] baransu commented on #24
I'll try to look into it.

[2017-04-02 19:46] arkgil opened #26 "Get rid of `start_link` callback of plugin modules"
I have noticed that each plugin module needs to implement `start_link` callback, which for every plugin looks like this:
[code]

I was wondering if we really need this callback. If I checked correctly, the only place it is used is [here](https://github.com/erlanglab/erlangpl/blob/master/apps/epl/src/epl_app.erl#L192), which basically adds infinitely waiting child to `epl` supervisor.

I think we c

[2017-04-02 20:08] arkgil opened #27 "Move core plugins to apps directory"
Since we're using umbrella layout, I thought it might be a good idea to move `epl_traffic` and `epl_dashboard` as a standalone applications in `apps/` directory. We could also merge `epl_st` with this repo and move it there.

This way we get nice and clean project structure.

(We could rename `epl` app to `epl_core` to distinguish it from other plugins)

[2017-04-02 20:50] michalslaski commented on #26
Before we remove the init callback function, I would like to understand how EPL plugins will register in the new @Baransu 's UI plugin system.

[2017-04-02 20:58] michalslaski commented on #26
I wanted some easy way to list all started plugins. Supervisor's which_children/1 seemed like what I wanted, but then Supervisors require Pid to be returned, so I hacked this start_link/1. I'm fine with removing it as long as we have a way to tell which plugins are started. One possible way is to list all subscribers to the epl_tracer, but I'm not sure all plugins will always want to subscribe to

[2017-04-02 21:04] arkgil commented on #26
How about storing plugin names in additional ETS table?

[2017-04-02 21:07] michalslaski commented on #27
Standalone applications would allow us to list all started plugins too. Also, I can imagine one day there will be many plugins and people will define in ~/.epl file which plugins they actually want to see in the menu.

At first glance I don't see any arguments against your idea and I like it.

[2017-04-02 21:12] michalslaski commented on #26
Or assume that all started applications with their name prefixed with epl_* are plugins?

[2017-04-03 08:16] mentels opened #28 "Make the plugins Erlang/Elixir applications"
Are there any advantages by treating `*EPL.beam` files as plugins over making plugins valid Elixir/Erlang applications? The web socket handlers could be configured via the config file.

[2017-04-03 08:33] michalslaski commented on #28
*EPL.beam allows us to automatically configure cowboy routes and automatically register in the UI.

How do you suggest to address these?

[2017-04-03 10:15] baransu commented on #26
New plugins system will inject two lines per plugin into `<head>` tag in `index.html` served by server (`<script>` and `<link>` for JS and CSS). Also we will have to copy folder with static files (images, etc) into UI output build.

I'm doing this right now because I want option to include plugins into build without server. If the same plugin will be defined in some config file for `erlangpl` it w

[2017-04-03 10:19] arkgil commented on #26
@michalslaski yes, we can assume that. It becomes related to #27. I know @mentels has some idea about imposing plugins being applications, but that's a subject for another issue.

[2017-04-03 12:50] arkgil commented on #28
Each plugin could configure its application environment (e.g. via `env` tuple in `.app` file), and point us to websocket handler.

[2017-04-03 13:13] mentels commented on #28
Exactly, that was my idea.

Have a look at [erl_cowboy](https://github.com/ivanos/erl_cowboy) and how it's being used in [dobby_rest](https://github.com/ivanos/dobby_rest_lib/blob/master/src/dobby_rest_app.erl). If I understand the problem correctly, you could have tuples like {"/path/to/my_resource", handle_module} passed to the Erl/Ex application env either through the `.app` file or `.config` f

[2017-04-03 13:56] elbrujohalcon opened #29 "Can't analyze Canillita"
When I try to analyze [inaka/canillita](http://github.com/inaka/canillita), I found an error.
These are the steps I follow:

[code]

…then, in another shell…

[code]

…where I get the following output…

[code]

but once I open my browser at localhost:8000, I get the following error report in that console:

[code]

[2017-04-03 14:06] arkgil commented on #29
Does canillita start a lot of workers under some supervisor? That's my first guess, because one of the plugins timed out while querying tracer process for children of one of the supervisors.

[2017-04-03 14:18] ruanpienaar commented on #29
Or is that machine under heavy load, by not responding within the default of 5000ms ?
From the crash it's doesn't look insanely busy. mmm

[2017-04-03 14:23] elbrujohalcon commented on #29
Neither of those.

[code]
(no processes created for about a minute)

And the machine is my computer… super quiet and peaceful, I promise :)

[2017-04-03 14:23] elbrujohalcon commented on #29
you can certainly try it in your computers as well… canillita is open-source

[2017-04-03 14:24] ruanpienaar commented on #29
Well, i see there's missing tests! i might volunteer later ;)

[2017-04-03 15:15] arkgil commented on #29
It looks like `supervisor:which_children` is a `gen_server:call` with timeout set to infinity under the hood. The only question is: why doesn't it return?

[2017-04-03 15:51] arkgil commented on #29
I suspect [this line](https://github.com/inaka/canillita/blob/master/src/canillita.erl#L24) might be a problem. Canillita doesn't start its top level supervisor, it returns its own PID in `start/2` application callback, so call to `application_master:get_child/1` returns application master itself. Application master expects only certain messages (https://github.com/erlang/otp/blob/1526eaead833b3bd

[2017-04-03 15:53] arkgil commented on #29
We're working on the plugin system which would allow builidng `erlangpl` with only selected plugins a breeze, so such cases will be much easier to troubleshoot.

[2017-04-03 15:54] elbrujohalcon commented on #29
Well, @arkgil … almost any app built with [sumo_rest](http://hex.pm/packages/sumo_rest) (like Canillita) will not have a supervision tree. They just don't need one.

I understand that returning `self()` might be incorrect. What would be the idiomatic OTP-ish way to implement an app that doesn't require a supervision tree, at all?

[2017-04-03 16:12] arkgil commented on #29
I wouldn't call myself an authority when it comes to OTP, but in such cases I always start dumb dangling supervisor. Of course we could check if returned PID is not the same as application master's PID, but even [Erlang Manual](https://github.com/erlanglab/erlangpl/blob/master/apps/epl/src/erlangpl.erl#L20) mentions that `start/2` should return top supervisor's PID. Also all standard OTP applicati

[2017-04-03 16:26] elbrujohalcon commented on #29
Good points, @arkgil. I'm looking for the right way to solve this issue with my colleagues. I agree that returning `{ok, self()}` is **not** the way to go.

[2017-04-03 16:31] arkgil commented on #29
Setting up dummy supervisor isn't the most OTPish way too. In the end, why would we need one if there is nothing to supervise?

[2017-04-03 20:16] arkgil commented on #28
I think it's related to both #27 and #26 .

[2017-04-04 07:13] ruanpienaar commented on #29
Would it help in anyway to be a bit more rebust?
i've seen people do the {ok,self()} thing more than once.

[2017-04-04 07:16] arkgil commented on #22
Aaand it's merged. We have Elixir support in master now 👍

[2017-04-04 07:23] arkgil commented on #29
We might check if pid returned by `application_master:get_child/1` is not the same as application master's pid. But it's only one of the cases. As a placeholder somebody could start a process which loops infinitely and discards all messages, which will result in the same crash as reported in this issue.

I'd be very happy to fix this, so if you have any idea, please let us know here 🙂

[2017-04-04 07:23] michalslaski commented on #29
Sure, any suggestions?

On the other hand I'm glad we dscovered this issue in Canillita. It manifests in obscure way, but indicates lack of OTP compliance.

[2017-04-04 07:23] #22 closed, assigned to arkgil

[2017-04-04 07:25] baransu commented on #22
I think we can add info about writing plugins to README or maybe we should wait for UI plugins to have full support.

[2017-04-04 07:29] arkgil commented on #22
Yes, I'd wait for UI support too. Also there are ideas with changing backend plugin system a bit too
(see #26, #27, and #28)

[2017-04-04 07:30] baransu commented on #22
Cool. So I'll try to focus more on UI part then.

[2017-04-04 08:31] arkgil commented on #19
What do you think about putting it all in one repository? We could manage issues with proper tagging.

[2017-04-04 08:46] baransu commented on #19
@michalslaski what do you think?

[2017-04-04 08:56] michalslaski commented on #19
I can see several advantages:

* easier versioning
* easier management of dependencies between UI and Erlang modules
* one repo to star and report issues

If it makes sense from building point of view, I'm all for it.

[2017-04-04 08:59] baransu commented on #19
I'd go for it. I'll try to send relevant PR. One think may be hard, preserving UI commit history.

[2017-04-04 10:35] ruanpienaar commented on #19
One repo would help, i was a dumbass on the weekend, and forgot to clone recursively, and then yarn had "package.json" missing issues. and then i carried on chasing my tail for nearly 20 mins :D

[2017-04-04 17:44] sashaafm opened #30 "Crashdump when trying to connect to an Elixir or Erlang node"
Hello, I just cloned your repo and followed your steps in order to get ErlangPL running and play with it. I've ran both an Elixir and Erlang emulator like so:

[code]

and then
[code]

and i got the following crash:

[code]

I'm on Mac OS Sierra (latest) with Elixir 1.4.2 and Erlang/OTP 19 (erts-8.3). Am I missing anything? Thanks

[2017-04-04 19:28] arkgil commented on #30
Can you try running `erlangpl` with `-vvv` flag? I can't reproduce your issue (on the exact same OS), so additional debug logs might help us :)

[2017-04-04 19:32] arkgil commented on #30
Okay, I see what might a problem. Please ensure that you have run `make build-ui` before `make` itself. We should probably fail with a more friendly message if we can't find UI files at runtime.

[2017-04-04 20:13] arkgil opened #31 "Refuse to build/start erlangpl when UI is not built"
As reported by @sashaafm in #30, and other people on other communication channels, building and starting `erlangpl` without building UI first throws rather cryptic error.

The most reliable solution would be to refuse to compile (`make`) or `bootstrap` when we can't find prebuilt UI files. We could, for example, check if we can find `apps/epl/priv/htdocs/index.html` file when bootstraping.

[2017-04-04 20:13] arkgil commented on #30
@sashaafm let me know if that solves your issue 🙂

[2017-04-05 11:25] arkgil commented on #31
I'm wondering if [this code](https://github.com/erlanglab/erlangpl/blob/master/apps/epl/src/epl_app.erl#L459) actually does anything.

@Baransu is there `` comment anywhere in the frontend code? I can't find it, and you're more familiar with UI codebase.

[2017-04-05 12:20] baransu commented on #31
No there is not. I have no idea what his code supposed to do.

[2017-04-05 13:02] arkgil commented on #31
I suppose it could be safely removed then. @michalslaski what do you think about it?

[2017-04-05 16:06] baransu commented on #19
I'm going to merge both repos as fast as experimental UI plugin system will be merged into master.

I have [epl-plugin](https://github.com/Baransu/epl-plugin) running locally and there are only few changes I have to make. And a lot will come out when I'll be moving default plugins (dashboard, sup-tree, traffic) to new architecture.

[2017-04-05 16:29] arkgil commented on #19
Great to hear that plugin system is almost ready!

[2017-04-05 16:31] sashaafm commented on #30
@arkgil yes that fixed it. Checking out erlangpl right now. However, I had to clone the repo again, it seems trying to `build-ui` after make and then make again does not work. I believe the guide in the website is missing the `build-ui` step.

Also I had to install Elm, so I think a guide with the needed dependencies would be a good addition.

[2017-04-05 16:31] #30 closed, assigned to nobody

[2017-04-05 16:39] baransu commented on #19
There is a lot work to be done to have seamless plugin experience but core part is almost ready. I'll send PR to UI soon.

[2017-04-05 16:44] sashaafm opened #32 "Impact of ErlangPL on the monitored system"
Hello, so ErlangPL looks amazing, but I couldn't find any mentions of its impact on the monitored system. Erlang tools like `cprof`, `eprof` and `fprof` take a hit on the system and aren't recommended to be kept running in production.

I guess ErlangPL uses the `:sys` module and `:proc_lib` to retrieve runtime info from the system. Therefore, I'd like to know if ErlangPL is intended to be kept run

[2017-04-05 20:06] arkgil commented on #30
Dependencies are listed in the README, although it's definitely not clear enough. Thank for the feedback!

[2017-04-05 20:10] arkgil opened #33 "Make it more clear what dependencies are needed to build EPL manually"
As already mentioned in #30, dependencies required to build UI are hidden in a block of text in a README. We should add huge `PREREQUSITES` section, which will make deps more clear 👍

[2017-04-05 20:20] arkgil commented on #32
To answer your question first: you should not run `erlangpl` on any production node. Ever. Currently our implementation is based on `erlang:trace` function **with all trace flags enabled**. That means that we track every message passed, every spawn, exit and link. You could imagine an impact it would have on a busy system (`erlangpl` would probably die together with it).

However we don't aim to b

[2017-04-05 20:22] arkgil opened #34 "Add download links to a README"
Many people are seeing our repository first, not website, and they end up builiding EPL manually instead of downloading prebuilt escript. We should make it clear in the README that they can download it.

[2017-04-05 20:32] baransu commented on #30
We're working on UI plugin system and with that Elm dependency will be removed. We wont use it in our core code but you will be able to write plugins in Elm.

[2017-04-05 20:33] baransu commented on #33
We can add simple script checking all required things to build EPL. Like Node, Elm dependency for UI and UI build for whole application.

[2017-04-05 20:35] baransu commented on #32
We should add it to README.

[2017-04-05 20:48] OvermindDL1 opened #36 "Random crash reports while clicking on nodes in the supervisor tree view"
Occasionally and seemingly randomly get an occasional error report while clicking on supervisors in the graph view:
[code]

[2017-04-05 20:50] michalslaski commented on #31
In the old UI it was used to display which node is being observed. The new UI retrieves this info over WebSocket. It can be safely removed.

We will need a way to inject plugins' JS and CSS at some point, but we can discuss that once the new plugin system is ready.

[2017-04-05 20:51] OvermindDL1 opened #37 "Crashes wobserver"
When [wobserver](https://github.com/shinyscorpion/wobserver) is running on the node that is being connected to then a crash happens:
[code]

Probably is wobserver's fault that it happens, but it should still be hardy enough to withstand crashes like this.

[2017-04-05 21:02] #33 closed, assigned to nobody

[2017-04-05 21:06] baransu commented on #31
@michalslaski I have that nasty [ejs](http://www.embeddedjs.com/) (it's default templating language for HtmlWebpackPlugin we're using) template for injecting plugins` JS and CSS into UI build and to test how it works in general. We will have to make something similar from Erlang.

[code]

[2017-04-05 21:14] #34 closed, assigned to nobody

[2017-04-06 04:16] michalslaski commented on #26
After removing legacy UI callbacks, is there a way to preserve the debug printout `?INFO("Started plugins: ~p~n", [P])` ?

[2017-04-06 06:05] arkgil commented on #26
Not at this point, if you're looking at the branch I've just created. However next PR I'll work on designing plugins as applications, so the log message will come back :)

[2017-04-06 06:44] baransu commented on #24
@arkgil @michalslaski @mentels This change it crucial for us right now because a lot of people are trying EPL in recent days. These changes will fix no nodes in `/traffic` view when only one node in cluster. After getting this resolved on both front and backend we should release new version asap.

[2017-04-06 06:46] arkgil commented on #24
I'll try to look into it this evening 🙂

[2017-04-06 19:18] baransu commented on #24
@arkgil Are going to look into it today or can I?

[2017-04-06 19:33] arkgil commented on #24
You can always look into issues, I'd be happy to help :) I don't have much time lately, sorry for delay.

EDIT: but I'm looking into it right now. Although extra pair of eyes does not harm anyone 😄

[2017-04-07 14:38] cdesch opened #40 "Cluster traffic view not rendering"
I was playing with Phoenix and ErlangPL in this [video](https://www.youtube.com/watch?v=aUCwtG_rr34) and could not get the traffic on the cluster to render. I also tried following the mensia sample in the readme with no luck. How do I troubleshoot or debug this issue?

![screen shot 2017-04-07 at 10 36 07 am](https://cloud.githubusercontent.com/assets/1207795/24805024/5a55ee34-1b7e-11e7-88df-084c9

[2017-04-07 16:05] baransu commented on #40
This issue is related to underlaying tool.
It was already reported here https://github.com/erlanglab/erlangpl-ui/issues/29. We have PR https://github.com/erlanglab/erlangpl/pull/39 in progress fixing this bug.

[2017-04-07 20:13] arkgil commented on #31
Closing this, since there is not much more we can do to "force" people to build UI :)

[2017-04-07 20:13] #31 closed, assigned to nobody

[2017-04-07 20:14] arkgil commented on #26
#38 resolved this issue, closing.

[2017-04-07 20:14] #26 closed, assigned to arkgil

[2017-04-09 16:05] #24 closed, assigned to baransu

[2017-04-09 16:14] baransu commented on #40
Should be fixed right now, thanks to #39 and https://github.com/erlanglab/erlangpl-ui/pull/31.

[2017-04-10 20:26] dgulinobw opened #41 "websocket port is hard coded"
Command line parameter '-P' does not change the web-ui's port to connect to epl's websocket.  So if you change the port via '-P', you can connect to the gui with a browser at that port, but no data will be displayed.

The websocket port is hardcoded in web-ui/src/sockets.js:

[code]

[2017-04-10 20:30] baransu commented on #41
Thank for spotting this!
Good solution would be to create some endpoint providing config for UI and then creating WebSocket connection based on that.

[2017-04-10 20:51] arkgil commented on #41
I think that sufficient solution would be to allow users to enter hostname and port number to connect to from UI (which would defualt to localhost:8000 of course). If someone wants to change port number we serve content on, if think they would be fine configuring it in UI. What would you think about that @dgulinobw?

[2017-04-10 21:20] dgulinobw commented on #41
An automated way would be cool, but anything that doesn't involve rebuilding would be sufficient.

[2017-04-10 22:00] DrPandemic opened #43 "Crashing after connection"
I'm using
- erlangpl 0.6
- linux
- OTP release19
- ERTS version8.2.2

I'm currently developing an elixir toy project (https://github.com/DrPandemic/MasDB). When I connect erlanpl to my cluster with `./erlangpl -n foo@127.0.0.1` it generates some errors.

In overview memory usage, processes and throughput are indefinitely loading. Same thing for the sup-tree page. The traffic page seems to be worki

[2017-04-11 07:16] arkgil commented on #43
It's not an issue with you project, but with one of your dependencies: [bunt](https://github.com/rrrene/bunt/). We have already encountered similar case, it happens because Bunt kind of breaks OTP compliance and returns application master's PID as if it was top supervisor's PID (see [this line](https://github.com/rrrene/bunt/blob/master/lib/bunt.ex#L34)). I think that bunt is dependency of Credo,

[2017-04-11 07:34] arkgil commented on #43
I've made a PR to Bunt repository, I hope this will solve the issue :)

[2017-04-11 07:41] michalslaski commented on #43
Good catch @arkgil

[2017-04-11 07:57] michalslaski commented on #41
In the old UI we injected WebSocket port number read from the command line argument into the HTML/JS templates before serving them from cowboy to browsers. Is the same possible after React is built, e.g. can we regexp on "8000" and change it to custom port number?

[2017-04-11 08:08] baransu commented on #41
Probably yes but it's far from being elegant. And we have also Elm code which can look for port number, we could pass it from React via ports but I don't know. I would go with config endpoint with:
- port number
- current version
-

[2017-04-11 14:05] DrPandemic commented on #43
Wow, that was a quick diagnostic. So adding the `runtime: false` fixed the dashboard/overview page, but the `sup-tree` is still indefinitely loading. Also, I still have an error in the log.

Thank you for your time.
[code]

[2017-04-11 20:20] arkgil commented on #43
@DrPandemic first of all, thank you for reporting the issue 👍  You have found a bug which we obviously haven't spotted before. I'll fix this as soon as possible, and we will release version 0.6.1. Thanks once again! ❤️

[2017-04-12 02:54] michalslaski commented on #41
@dgulinobw is port 8000 conflicting with some service, which is running on many operating systems?

The original intention behind having -P flag was to allow users, who have port 8000 occupied by other processes in the system, to decide which port is most suitable for their setup. I can see two options:
* use port 37575 instead of 8000, hard code it in cowboy/JS/Elm, remove -P flag
* keep the -P f

[2017-04-12 05:06] baransu commented on #41
I would keep -P flag.

No problem with that. So in production when assets are served by server it will look for port in url and for development it will look for default 8000 when UI is standalone.

[2017-04-12 05:45] michalslaski commented on #41
It seems the port 8000 is a default one for many popular applications like WinAmp and trojans. Maybe it makes sense to have the development port set to 37575.

BTW, try typing on the classic phone with T9 the word "erlpl".

[2017-04-12 05:47] baransu commented on #41
So let switch to 37575 by default keeping -P flag.

[2017-04-12 07:09] #41 closed, assigned to baransu

[2017-04-13 10:54] arkgil commented on #27
#46 partially addresses this one, we moved `epl_st` to `apps/` from external repository.

[2017-04-13 14:09] arkgil commented on #43
@DrPandemic the issue is solved now in version 0.6.1 :) Please build from 0.6.1 tag or [download new version](https://github.com/erlanglab/erlangpl/releases/download/0.6.1/erlangpl.tar.gz) of prebuilt script. Let us know if that fixed your issue (it should, I've tested it on my machine with your
 application 😉 ). Cheers!

[2017-04-13 14:51] DrPandemic commented on #43
Yes it all works. Thank you for your swift fix. You rock!

[2017-04-13 14:51] #43 closed, assigned to nobody

[2017-04-13 20:59] DrPandemic opened #48 "Global traffic"
I'm really unsure where this question should be asked, so I'm posting it here.

On the traffic page, is it possible to see the communication between all nodes? If I'm not mistaken, currently we can only see messages between the inspected nodes and the others.

If it's not currently possible, would it necessitate a lot of modifications in the erlangpl core to achieve this?

[2017-04-13 21:05] baransu commented on #48
Right now it's not possible.
From what I understand it would cost a lot to get all traffic in cluster but I don't really know if and how we want to support this.

/cc @michalslaski @arkgil

[2017-04-13 21:32] arkgil commented on #48
Yes, it is not possible given our current approach to monitoring. Right now we spawn only one process on monitored node which provides us all information needed to render the views.

This approach have its limitations, one of them is not being able to track the traffic between all the nodes in the cluster - to get this data we use `net_kernel:nodes_info/0` function which only returns amount of dat

[2017-04-13 23:25] michalslaski commented on #48
@DrPandemic if you could help us by answering some of the below questions, we can try to design a view specific to your needs.

1. how many nodes do you have in your cluster?

2. are you interested only in visualizing inter-node traffic or do you need to see message passing between processes too?

3. Do you use any specific product like Phoenix, Riak, RabbitMQ, MongooseIM, VerneMQ, etc. ?

[2017-04-15 17:18] DrPandemic commented on #48
Hey people, thank you for your time.

1. I'm aiming to visualize a cluster of maybe 5 to 10 nodes. What would be the price for each new node?

2. I was hoping for inter-node traffic. Only being able to see messages between the observed node's processes is enough.

3. My current project is a cluster of elixir apps. I was considering trying to connect a node with Phoenix, but not in the immediate fu

[2017-04-17 14:00] cdesch commented on #40
This issue hasn't been fixed. Is this rated for a specific version of elixir or erlang? [Video](https://youtu.be/LtczIYIAPIA)

elixir version:

[code]
[code]

[2017-04-17 14:09] arkgil commented on #40
Hm, it's really strange. It should be working with the newest version, and is indeed working for me. Could you please paste here how did you start the nodes and what examples did you run? Also the logs from the browser. I know it's all in the video, but I think that written explanation here would be easier for us to comment 🙂  Sorry for trouble!

[2017-04-17 14:12] cdesch commented on #40
@arkgil It is working. Thanks! I pulled the latest version but I needed to recompile the assets for it to work

It seems like this

[code]
process needs to be rerun after every code pull if you're (myself) are not monitoring the change diff between commits.

Minor Housekeeping note for others troubleshooting. :-)

[2017-04-17 14:12] #40 closed, assigned to nobody

[2017-04-20 18:01] baransu commented on #19
Resolved in https://github.com/erlanglab/erlangpl/pull/42

[2017-04-20 18:01] #19 closed, assigned to baransu

[2017-05-08 16:21] mdaiter opened #50 "Crashing under large load"
My app uses about 1000 processes per machine for controlling and distributing tasks across a cluster. `epl_st` timeouts when creating the supervisor tree to send to the web GUI. Is there either a way I can specify only certain processes to be tracked, or (better) just extend that timeout and accept a bit of lag?

[2017-05-09 01:07] tsloughter opened #51 "Why rebar2?"
Curious if there is a reason you have stuck with rebar2. I'd be happy to look at sending a PR for moving to rebar3 but wanted to check first if you were interested or not.

[2017-05-09 11:49] michalslaski commented on #51
The project was developed in mid-2013 when rebar2 was a natural choice. I am all for moving to rebar3 and will welcome a PR with open arms. Thanks for suggesting!

[2017-05-09 11:53] michalslaski commented on #50
Does the dashboard with metrics render fine, when you connect erlangpl to your app? If so, what throughput is reported?

We got reports from users about epl_st crashing while waiting for a response from which_children/1 - is it the kind of crash you're getting too?

[2017-05-09 11:58] mdaiter commented on #50
The dashboard renders perfectly fine when I connect `erlangpl` to my app. The throughput is initially reported as N/A.

This is the crash I'm receiving as well. I'll post my crash in a followup report.

NB: I am also using `riak_core` and `poolboy` in my project, both of which are incredibly heavy-weight.

[2017-05-09 12:10] mdaiter commented on #50
@michalslaski as promised, here's the log:
[code]

[2017-05-11 15:20] mdaiter commented on #50
Pretty sure we can parallelize most of these list operations (except for foldl). Let's try to make some progress on that end? Think it's timing out due to too list operations stalling.

[2017-05-11 15:28] mdaiter commented on #50
Progress update: increasing the timeout and `?POLL` values to 50000 results in successful splash screen and traffic generation. Does not enable sup-tree screen to complete.

[2017-05-11 15:31] mdaiter commented on #50
Alright, so two (non-mutually-exclusive) methods of attack:
1. Create dynamic timeouts at the risk of delaying output significantly
2. Parallelize list ops

[2017-05-11 16:30] mdaiter commented on #50
Aha! I think I got to the root of the problem. If a process times out (`epl_st.erl`, line 75), there seems to be a formatting issue when generating the JSON to be reported back to the main system. Maybe a filtering of these children would fix this problem. I'll try!

[2017-05-12 05:16] michalslaski commented on #50
Thanks for progressing on this issue. If the dashboard renders fine, but reports throughput N/A, it means not a single trace report was collected from the epl_tracer process running on the observed node. This is typically due to a timeout set to 5 seconds, which is not long enough to collect statistics if the system is under heavy load. The suggested optimisations are interesting, but I am not sur

[2017-05-12 10:46] mdaiter commented on #50
@michalslaski I'm pretty sure my applications all return top-level supervisors. If I don't implement `handle_info` in my classes, however, could this break the system?

[2017-05-22 15:04] Arkham opened #53 "Weird issue when visualizing GenStage pipelines"
Hi guys,

this project is really cool! I started playing with it to visualize GenStage pipelines and I bumped into a weird behaviour. You can find my code here: https://github.com/Arkham/genstaged

My GenStage setup is:

- one producer which generates numbers
- one producer-consumer which filters only even numbers
- two consumers

So I booted the app with EPL and amazing, everything works perfectl

[2017-05-22 15:07] Arkham commented on #11
I've only been playing with EPL for a couple of days, but this is definitely a key feature. I restarted my Elixir app and EPL would not refresh. After I refreshed EPL manually, the app just crashed :( In theory, the user should be notified when the observed node goes down.

[2017-05-22 15:28] Arkham opened #54 "ERROR: timed out while collecting data from node"
Hi guys,

I was trying out EPL to visualize a Flow experiment. You can find the code here: https://github.com/Arkham/flow_lightning

If I try to connect EPL to the running node I get this error a lot of times

[code]

And after that the `epl_tracer` crashes with this message

[code]

[2017-05-22 16:43] baransu commented on #11
UI is separated so we can watch for WebSocket connection loss and show warning. I have a plan to create notifications system like [Atom Editor](https://atom.io/packages/notifications) has, but currently I have no time to work on this. Also if I could find some time I want to finish sup-tree rework introducing better layout, process labels and faster loading time. But thank you a lot for feedback.

[2017-06-01 09:52] gomoripeti opened #58 "OTP 20 + old cowboy + crypto"
In OTP 20 functions deprecated in crypto-3.0 first released in OTP-R16B01 will be removed.

The currently used cowboy version 0.8.6 uses `crypto:sha` in websocket which won't work from OTP 20.

[2017-06-16 17:27] zachdaniel opened #60 "Crash after connection (possible duplicate)"
Wanted to lodge a new issue since the other one referencing this (#43) was closed and appears to have been fixed.

I'm getting this same issue. I've updated credo to use `runtime: false`, I've also removed wobserver from my application (an issue I saw elsewhere) and also I've used the latest binary from the releases page.

[code]

Elixir v 1.4.2
OTP 19

Any thoughts or assistance is greatly apprec

[2017-06-16 17:44] zachdaniel commented on #60
I've just tried building master and using that and had the same issue.

[2017-06-19 07:47] arkgil commented on #60
Hi @zachdaniel , thanks for posting the issue! 🙂

Could you please share a list of applications which are started on the node you are observing with erlangpl?

If you're using Elixir, you can use:
[code]

and in case of Erlang:
[code]

This issue usually comes up because of misbehaving OTP applications, but this could be the problem on our side.

And sorry for keeping you waiting 😉

[2017-06-19 07:55] arkgil commented on #58
Thanks for raising this issue @gomoripeti! 🙂  This is something on top of our priority list right now, stay tuned 👍

[2017-06-19 07:57] arkgil commented on #54
Hi @Arkham, thanks for bringing this up 🙂  I'll take a look at this. On a first glance, it definitely looks like an error on our side 😅

[2017-06-19 07:59] arkgil commented on #53
Definitely looks wierd 😟  Sorry for responding so late @Arkham, I'll try to investigate 🙂

[2017-06-20 13:52] arkgil commented on #54
I've identified the issue.

Every 5 seconds, one of erlangpl's processes asks "spy" process on the remote node for data gathered for last 5 seconds:

[code]

After that it waits for the response in `receive` block:
[code]

This is why we see log message in the console: `"ERROR: timed out...".` The process crashes because "spy" process manages to send requested data back but **after** 5 seconds, wh

[2017-06-20 15:24] #58 closed, assigned to arkgil

[2017-06-21 17:18] michalslaski commented on #51
@tsloughter the time has come to upgrade to rebar3, so I would like to know if you have started any effort on sending us a PR?

[2017-06-22 15:58] baransu opened #65 "Cache state in localStorage"
When we're for some reason reloading page, we lose all state and in the worst case we have to wait 5s for the new state from the server. My idea is to cache state in localStorage and when we're reloading page it will be loaded from cache. If observed node crashes and we're reloading page to reconnect we don't want to display old, cached state so we have to wipe it on WebSocket connection crash.
It

[2017-06-24 12:28] arkgil commented on #65
I like the idea of improving our UX 👍  The crucial part here is to make sure old data is cleaned up.

[2017-06-28 03:27] michalslaski commented on #65
If I don't have any browser tabs open, then I restart ./erlangpl script and then again open the browser, the local cache is not cleaned up. The only way to clean it up is to have a tab opened, so that it can discover the WebSocket connection crash. This may be confusing.

[2017-06-28 04:48] baransu commented on #65
We're storing start timestamp in ets and then sending it to client on new connection so client should clean when connection crashes or `./erlangpl` was restarted.

[2017-07-01 08:27] Hajto opened #69 "Make proper documentation"
We should make better documentation about how to use the tool. I think it could be similar to talk presented on Cracows meetup (slides: https://speakerdeck.com/michalslaski/exploring-beam-based-systems-with-erlang-dot-pl) Showing possible workflow.

[2017-07-01 08:28] Hajto opened #70 "Add erlangpl to software repositories"
Why don't we make it easier to install and allow people to install it through different kinds of package managers like:

[code]
And so forth and so on.

[2017-07-01 11:26] baransu commented on #70
We should add this to README as well

[2017-07-01 16:26] Hajto opened #72 "Process list based on business"
List of process sorted by reductions/other means describing throughput would be nice addition. It could help people finding most busy process that may be bottle neck.

[2017-07-02 08:31] Hajto commented on #70
I will edit README once your PR to brew will be accepted

[2017-07-03 06:11] arkgil commented on #69
+1, that would be awesome

[2017-07-04 14:22] mkacper opened #73 "ETS node view"
Guys,

I've been working on the `ets node view` for a few days and I've just finished the first prototype. It shows all the ETS tables present on a particular node. Each table is connected to its owner's process. Tables which "can cause problems" are coloured red and yellow. Tables to be coloured are choosen based on the size of the memory allocated for a particular table. The five biggest tables

[2017-07-04 16:39] mkacper commented on #73
I've just implemented `size` mode of working for `ets node view`. Build the `ets-node-view-proto` branch on my `erlangpl` fork to see how it works. If you want to switch between `size` and `memory` modes simply edit [this line](https://github.com/mkacper/erlangpl/blob/ets-node-view-proto/apps/epl_ets/src/epl_ets.erl#L35).

[2017-07-05 07:22] arkgil commented on #73
First of all - great job!

IMO the most obvious (and probably most desired, but I'm only speaking for myself) metrics are memory usage, size and mean access time (maybe for reads and writes separately?).

I have concerns about colouring top five tables red etc. It might be useful if those tables have similar sizes, but if one of them is exceptionally big it wouldn't stand out, thus would remain un

[2017-07-05 11:32] mkacper commented on #73
@arkgil  I'm glad you like it :)

It's a good idea to divide the access time into reads and inserts.

You're right - the way of presenting "problematic" ETS tables is not so smart now. We could try to present this kind of information in a table but how to combine it with a Vizceral graph? We use the top-level Vizceral's view and (IMO) it would be nice to use the deepest one for visualising which p

[2017-07-06 07:14] arkgil commented on #73
Maybe there is no need to render the view in its current form at all (ETS tabled connected to owning processes). A simple, sortable table with memory usage, owning process etc. would be sufficient and IMO more readable. Clicking on a row of the table would open the next level view.

Unfortunately I don't know much about Vizceral and if it is possible, so my ideas may sound ignorant (sorry if that'

[2017-07-06 07:33] mkacper commented on #73
Do you mean we could try `table view` as a second view? When you click on a particular node in `ets cluster view` an ordered table will be showed and then, when you click on a particular row the third Vizceral's view will be showed? Am I understand you correctly? :)

[2017-07-06 08:26] Hajto commented on #73
Also for learning purposes showing n first records in table could be nice. People could look how stuff exactly work for example how digraph works.

[2017-07-06 09:09] arkgil commented on #73
@mkacper yes, that's what I meant 🙂

[2017-07-06 11:25] mkacper commented on #73
So let's try this approach out :smiley:
I've been working on measuring access time to a table so I'll try present this data (memory usage and size too) in a table. Maybe it would be separated from a Vizceral graph on the first try.

[2017-07-06 22:46] baransu opened #74 "jsone failing on node info parsing"
I'm playing with Phoenix 1.3 channels right now and stumbled into this error while trying to get node info about probably simple `Phoenix.Channel` process.
https://github.com/Baransu/e_game/blob/master/lib/e_game/web/channels/room_channel.ex

You can reproduce it by running project from repo (with new Phoenix 1.3 commands) and trying to inspect this node:
<img width="394" alt="screen shot 2017-07-

[2017-07-08 12:54] mkacper commented on #73
I was playing with the Vizceral's Events a little bit and it seems that it's probably possible to put the `table view` between the `ets cluster view` and `ets detailed view`.

Vizceral provides us with the `viewChanged` event so we can detect when and which `node` from the `ets cluster view` is clicked and then can show the table contains ETS tables from the clicked `node`.

Another useful thing i

[2017-07-12 11:10] mkacper commented on #73
@Baransu and I have implemented the very first prototype of `ets table view`.
Here is the screenshot:
![ets_tab_view](https://user-images.githubusercontent.com/22799690/28114082-956bcd32-66ff-11e7-83fc-8537a3c2b073.png)

Each row in the table shows basic information about a particular ETS and, what's more interesting, statistics (min, max, percentile) about access time to the ETS table (inserts an

[2017-07-12 11:58] mentels commented on #73
I would say that the biggest problem with it is the readability. Too many columns, columns labels are hidden... even if the information presented in the table are valuable, we need a better way to present them.

[2017-07-12 12:19] baransu commented on #73
Make columns width different for different columns. Also you can try better styling for different columns to differ more important data. Also search input would be great, something like `name:test2, size: 5` for example (look at github search, I have something like this in mind).

[2017-07-12 12:23] mkacper commented on #73
I absolutely agree. We could e.g. aggregate data related to particular functions somehow. When it comes to the table's appearance (labes etc.) it obviously needs improvements. I didn't focused on the appearance at this stage but when we decide that `ets table view` should be our final implementation of the `ets node view` we have to deal with it.

[2017-07-12 12:27] mkacper commented on #73
Possibility of sorting the table by columns stored numerical values would be nice too.

[2017-07-12 18:51] arkgil commented on #73
+1 to @mentels feedback

[2017-07-12 20:38] mkacper commented on #73
Any ideas how to improve readability of the table are welcome :slightly_smiling_face:

[2017-07-13 18:11] fenollp opened #75 "Release more often"
As of today your last published release is 44 commits behind master.
This is somewhat annoying as none of the links provided lead to the most up to date escript.

How about setting up your CI to publish the escript when building tags?
Then you'd need to cut tags more often.
You could also do that automatically by having your CI push a tag when a new commit lands in the master branch.

[2017-07-14 07:54] baransu commented on #75
Current version has only one feature we merged few weeks ago but those changes had some issues (timeline tracking). Right now we have one issue with frontend caching. I'll try to focus on that in the following days and we will try to cut release.
To be honest I don't like this kind of automation because we're not adding that many features/changes to project to have to automate that.

@michalslaski

[2017-07-14 14:04] mkacper commented on #73
I've been working on `ets table view` in terms of its readability for a few days. I changed the layout of the table to increase its clarity. There is a possibility now to choose which columns are showed in a table. It contains only the most important columns by default to avoid confusion. I've also tried to make it possible to sort data in particular columns but it dosen't work yet.

Screenshots:

[2017-07-15 10:37] baransu commented on #73
A lot cleaner in my opinion 🙂

[2017-07-27 19:31] baransu commented on #65
I've disabled caching for now: https://github.com/erlanglab/erlangpl/commit/476688bdec5b0dc14d0d970e2e63fb6ce33a0490 so it' no longer blocking release.

This issue is still relevant and definitely needs better solution. Unfortunately I don't have time to focus more on Erlang Perf Lab right now, but I hope I'll find more time in the future to work on parts that needs improvement to make it better s

[2017-07-31 12:21] mkacper commented on #73
Close via #76

[2017-07-31 12:21] #73 closed, assigned to michalslaski, mentels, Hajto, baransu, arkgil, mkacper

[2017-07-31 12:57] baransu commented on #75
@fenollp We just released 0.8 with 2 big new features. Check this out: https://github.com/erlanglab/erlangpl/releases

[2017-08-05 20:10] Hajto opened #77 "Add elixir version to Basic Info in default view"
I think Elixir version (if it is IEx or it is an Elixir node) should be nice addition.

[2017-08-05 20:12] arkgil commented on #77
What do you mean by Elixir version?

[2017-08-05 20:38] Hajto commented on #77
<img width="547" alt="zrzut ekranu 2017-08-05 o 22 32 03" src="https://user-images.githubusercontent.com/8336429/28998551-0fc5ea18-7a2e-11e7-8cbf-c6dc43e4d86e.png">
Here you have OTP version and other information. If think it would be nice addition to add here Elixir version as well.

In IEx when you do:
[code]

You get keyword list:
[code]
where vsn field gives you elixir version. I think it woul

[2017-08-05 20:48] arkgil commented on #77
Sorry, I misunderstood the proposal completely 😄 Yep, that would be nice to have 👍

[2017-08-05 21:03] Hajto opened #78 "Highlight current call module and initial function call in information in supervision tree."
I think it is very common to try find `gen_` process in supervision try. I think it could be good idea to expose more `current_function.module` and `initialCall`.

It would be much easier to find GenServer which runs callbacks from `xxx` module if after clicked they above PID there would be something like `gen_server | Elixir.Something.XXX`

[2017-08-05 21:19] Hajto opened #79 "Help tooltips in dashboad system info"
I think that adding tooltips to `dashboard/system` would be good idea. Some of users might be still new to Erlang/OTP/Elixir and they don't know much about some of the settings.

<img width="554" alt="zrzut ekranu 2017-08-05 o 23 17 29" src="https://user-images.githubusercontent.com/8336429/28998797-4a4c1904-7a34-11e7-95d7-dbbec98852ab.png">

For example when user hovers over `kernel support` it c

[2017-08-05 22:04] baransu commented on #78
There are some plans to improve supervision tree a lot but it requires library shift. I was already thinking about it and even created proof of concept ( #55 ) but what I have to do is to create something myself from the ground up (using things like d3 force layout) which will allow us to adjust it maximally to out needs.

[2017-08-08 20:23] OvermindDL1 commented on #50
Identical error when loading this in my large Phoenix application except the `Last message` could be considered "Bloody Huge!".  This is in the latest escript tar.gz download from the website.

[2017-08-08 20:26] OvermindDL1 commented on #50
My application info of `:running` returns (as was requested in another issue):
[code]

[2017-08-14 14:41] OvermindDL1 commented on #54
Still getting this in the latest version on the site:
[code]

[2017-08-21 02:42] getong opened #84 "Need erlang 20 for test?"
I find that erlang 20 is not on the travis ci for test, if need it,  I will make a pr.

[2017-08-21 08:31] baransu commented on #84
Every PR welcome 🙂

[2017-08-22 08:19] #84 closed, assigned to nobody

[2017-09-14 03:43] smokinguns opened #87 "remote node"
Great project. Is erlangpl meant to run on the same server that it is monitoring. Currently I'm running a VM on my mac that I'm able to run erlangpl on. I can then create a ssh tunnel so that I can access erlangpl in my browser on my mac. I was wondering how I would go about running erlangpl on my mac and then connecting to the vm. If i can elaborate, please let me know. More documentation would b

[2017-09-14 19:15] smokinguns commented on #87
also can't seem to get it to connect to multiple nodes. currently nodes are running on the same machine, the both show up in the cluster graph, but only the one i originally connected to with erlangpl shows any detail information the other node is not selectable

[2017-11-04 01:56] rickpayne commented on #60
I'm seeing the same thing. My application list is:

[{cuttlefish,undefined},
 {setup,<0.1363.0>},
 {riak_core,<0.970.0>},
 {exometer_core,<0.942.0>},
 {cowboy,<0.937.0>},
 {lager,<0.913.0>},
 {cowlib,undefined},
 {basho_stats,undefined},
 {riak_sysmon,<0.901.0>},
 {goldrush,<0.894.0>},
 {recon,undefined},
 {luerl,<0.880.0>},
 {jiffy,undefined},
 {ranch,<0.874.0>},
 {crypto,undefined},
 {compiler,u

[2017-11-04 21:45] rickpayne opened #89 "Cluster node view too busy"
When you have a lot of processes on a node, the cluster view of it gets far too busy to see anything useful. For example:

![](https://dl.dropboxusercontent.com/s/pxxuksd3aq731cw/TooBusy.png "Busy View")

Along with this, the page changes periodically to show far less processes - ie. some go missing for a few seconds, then reappear. The following screen shot is from the same node a few seconds lat

[2017-12-12 17:37] gomoripeti commented on #75
just noting that download links on the website erlang.pl still point to version 0.6.1 both on the main page and in getting started guide

[2018-01-30 21:56] tomazbracic commented on #54
Me too, as of today. :/

[2018-05-29 07:31] tckb opened #91 "Is this project still alive?"
@michalslaski  @mkacper  is this project still alive?  As a beginner in erlang/elixir this is _the_  project I was searching for visualizing stuff going on in my app.  I had the same issue as #89   is there any way to fix this issue?

[2018-06-06 15:47] michalslaski commented on #91
@tckb at present we use this tool for educational purposes during trainings and meetups, so you may say that the project is alive :)

In systems with many processes sending messages the visualisation is unreadable and we don't have a fix for this. The other problem of processes disappearing and appearing again can be fixed. I'm not working on a fix at the moment, but I'm glad you shared your feedb

[2018-06-06 15:47] #91 closed, assigned to nobody

[2018-06-06 17:05] tckb commented on #91
thanks for the reaffirmation @michalslaski  .  my main usecase for this project would be a "demo" for my colleagues and _visualizing_  message passing  between processes would a great start!  If it's a trivial fix then may be I could help.

[2019-01-09 14:58] protostartup opened #92 "Graph view takes too long"
On a single node with around 400 processes , it takes very long time.

[2019-05-13 20:51] ssow opened #93 "runtime error"
Hi,

I'm facing a runtime error related to the websocket component.

Error in process <0.226.0> on node 'erlangpl@127.0.0.1' with exit value:
{undef,[{crypto,sha,
            [<<"DhX4I0c+u60EPDe8ETlV2w==258EAFA5-E914-47DA-95CA-C5AB0DC85B11">>],
            []},
    {cowboy_websocket,websocket_handshake,3,
                      [{file,"src/cowboy_websocket.erl"},{line,142}]},
    {cowboy_protocol,e

[2019-05-21 09:07] michalslaski commented on #93
Hello @ssow
I can try to help with the first error on CentOS 7, which indicates you do not have the crypto application installed in your system. Try the following command `sudo yum install erlang-crypto` and then try running the tool again.

[2019-05-22 10:42] ssow commented on #93
Hello @michalslaski

I've installed the complete esl-erlang.x86_64 (21.3.7-1) package, which includes crypto-4.4.2.
If this version is ok than the problem is somewhere else, I guess
Thank you.

[2019-05-27 20:26] michalslaski commented on #93
@ssow OTP 20 removed the previously deprecated crypto:sha/1 function in favour of crypto:hash/2. It seems this project deserves an upgrade of the underlying cowboy library and a new release :)

Thanks so much for reporting the issue, which somehow went unnoticed for a long time!

[2019-05-28 16:49] ssow commented on #93
You're welcome.
When can I expect to see the update ?

Thank you

[2019-12-21 18:29] danielkay commented on #87
I've been experimenting with connecting a containerised erlangpl to a phoenix app running in a separate container - seems to be working OK so far! I found this article particularly useful in getting it all playing together nicely: http://blog.plataformatec.com.br/2016/05/tracing-and-observing-your-remote-node/

Hope this helps, though I imagine with how old this issue is you've probably found anot

[2021-07-29 16:20] mickel8 opened #94 "Is this library still alive?"
Hi, just wanna ask a question if you are going to maitain this library and if no -- why?

It looks so nice but the last update was 4 years ago. Also, the issue with cowboy and removed `sha1` function (#93) seems to not be resolved.

[2021-08-15 05:58] michalslaski commented on #94
Hi @mickel8,
Over the years I was exploring methods of BEAM observation and visualisation. This project is one of somewhat complete prototypes. We use it for teaching Erlang, as it help students to visually think about concurrency and distribution. It is helpful when they start learning BEAM.

This project was not optimised enough to support heavy live systems, which I used to work with a lot. My

[2021-08-15 06:56] mickel8 commented on #94
Hi @michalslaski,
I am sorry for the quality of my first message. I have no idea why it was so messy (fixed it a little bit).

I wanted to try `erlangpl` to observie multimedia processing pipelines.
There is [Membrane Framework](https://github.com/membraneframework) where we are constructing pipelines that consist of a lot of processes linked together. Each process is responsible for manipulating